# Web framework
fastapi
uvicorn[standard]

# Database
pymongo

# Google Libraries
google-api-python-client
google-auth

# LangChain and AI Model Integration
langchain-core
langchain-google-genai

# Utilities
python-dotenv
PyPDF2
requests